.*.swp
.checkstyle
.classpath
.idea/
.junk/
.project
.settings/
.vagrant/
*.iml
.idea/
nb-configuration.xml
target/
out/
/out/
src/site/asciidoc/api-docs/generated/
src/site/asciidoc/api-docs/rest-api-index.adoc
gui/src/main/resources/assets/bundle.js
gui/src/main/resources/static/app.*.js
gui/src/main/resources/static/index.html
gui/src/main/resources/static/manifest.*.js
gui/src/main/resources/static/vendor.*.js

